@keyframes anima{

    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.01);
    }
}

        :root{
            --cor-um: #1A120B;
            --cor-dois: #3C2A21;
            --cor-tres: #D5CEA3;
            --cor-quatro: #E5E5CB;
        }

        @font-face {
            font-family: 'Arial Rounded MT Bold';
            src: url('/fonts/Arial-Rounded-mt-Bold.ttf') format('truetype');
        }

        @font-face {
            font-family : 'Bahnschrift';
            src: url('/fonts/BAHNSCHRIFT.TTF');
        }
        
        @font-face {
            font-family : Source Sans Variable;
            src: url('/fonts/SourceSansVariable-Roman.ttf');
        }

        
        *{
            margin: 0;
            padding: 0;
        }
 
        body{
            box-sizing: border-box;
            background-color: var(--cor-um);
            color: var(--cor-quatro);
            transition: 0.3s;
            height: 100%;
        }

        .controle-configuracao{
            padding: 1rem;
            display: flex;
            justify-content: space-between;
            width: 90%;
        }

        .tema-geral{
            display: flex;
            justify-content: left;
            padding: 0% 4%;
        }

        input[type="checkbox"] {
            display: none;
        }   

        .bi{
            font-size: 1.6rem;
            cursor: pointer;
        }

        .bi-sun{
            display: none;
        }

        .light .bi-moon{
            display: none;

        }

        .light .bi-sun{
            display: block;
        }

        .light{
            background-color: var(--cor-quatro);
            color: var(--cor-dois);
            .texto-principal{
                color: var(--cor-dois);
            }
            .rodape{
                color: var(--cor-um);
                background-color: var(--cor-tres);
            }
            .botao-jogar{
                color: var(--cor-tres);
                background-color: var(--cor-dois);
            }
            .ponto{
                background-color: var(--cor-dois);
            }
            .botao-avancar{
                background-color: var(--cor-dois);
                color: var(--cor-tres);
                box-shadow: 0px 10px 0px 0px solid #1A120B;
            }
        }

        .conteudo-principal{
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: space-between;
        }

        .texto-principal{
            text-decoration: none;
            font-family : Arial Rounded MT Bold;
            font-weight : bold;
            font-size : 2.95rem;
            color: var(--cor-quatro);
            padding: 2% 0% 4% 0%;
        }

        .container{
            display: flex;
            justify-content: center;
            padding: 0% 0% 5% 0%;
        }

        .imagem-centro{
            width: 100%;
        }
        .apresentacao-botao{
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            align-items: center;
            padding: 0% 0% 10% 0%;
        }

        .botao-jogar{
            display: flex;
            justify-content: center;

            text-decoration: none;
            font-family : Source Sans Variable;
            font-weight : bold;
            font-size : 2.0625rem;
            color: var(--cor-um);
            box-shadow: 0px 10px 0px 0px #B2AA84;

            background-color: var(--cor-quatro);
            border-radius: 25px;
            padding: 15px 0;
            width: 200%; 

            transition: transform 0.2s, box-shadow 0.2s;
            animation-name: anima;
            animation-duration: 0.5s;
            animation-timing-function: ease-in-out;
            animation-iteration-count: infinite;
            animation-direction: alternate;
        }

        .botao-jogar:hover{     
            animation-name: anima;
            animation: step-end;
            transform: translateY(2px);
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
        }

        .rodape{
            font-family : Bahnschrift;
            font-weight : bold;
            font-size : 20px;
            color: var(--cor-quatro);
            color : rgb(213, 206, 163);
            padding: 24px;
            color: var(--cor-quatro);
            background-color: var(--cor-dois);
            text-align: center;
        }


        /*Info.Html */

        .informacoes-principais{
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 20px;
            flex-direction: column;
            
            padding: 3% 0% 0% 0%;
            font-family : Bahnschrift;
            font-weight : semibold;
            font-size: 1.2rem;
        }

        .titulo-principal{
            font-family: Arial Rounded MT Bold;
            font-size: 2rem;
        }

        .sessao-botoes{
            display: flex;
            justify-content: space-between;
            gap: 30px;
            padding: 1% 0% 1% 0%;
            cursor: default;
        }

        .botao-um{
            width: 107px;
            height: 42px;
            background-color: #2A961E;
            border-radius: 16px;

            display: flex;
            align-items: center;
            justify-content: center;
            box-shadow: 0px 10px 0px 0px #1A6310;
            transition: transform 0.3s ease;
        }

        .botao-um:hover {
            transform: translateY(-10px);
          }

        .botao-dois{
            width: 107px;
            height: 42px;
            background-color: #D1C633;
            border-radius: 16px;

            display: flex;
            align-items: center;
            justify-content: center;
            box-shadow: 0px 10px 0px 0px #77710A;
            transition: transform 0.3s ease;
        }

        .botao-dois:hover {
            transform: translateY(-10px);
          }

        .botao-tres{
            width: 107px;
            height: 42px;
            background-color: #5F43C4;
            border-radius: 16px;

            display: flex;
            align-items: center;
            justify-content: center;
            box-shadow: 0px 10px 0px 0px #2E0E59;
            transition: transform 0.3s ease;
        }

        .botao-tres:hover {
            transform: translateY(-10px);
          }

        .botao-quatro{
            width: 107px;
            height: 42px;
            background-color: #D32411;
            border-radius: 16px;

            display: flex;
            align-items: center;
            justify-content: center;
            box-shadow: 0px 10px 0px 0px #7C0D0D;
            transition: transform 0.3s ease;
        }

        .botao-quatro:hover {
            transform: translateY(-10px);
          }

        .botao-div{
            padding: 0% 0% 5% 0%;
        }

        .botao-avancar{
            display: flex;
            justify-content: center;
            align-items: center;

            text-decoration: none;
            font-family : Source Sans Variable;
            font-weight : bold;
            font-size : 1.7rem;
            color: var(--cor-um);
            box-shadow: 0px 10px 0px 0px #B2AA84;
            transition: transform 0.2s, box-shadow 0.2s;

            background-color: var(--cor-quatro);
            border-radius: 28px;
            width: 175px;
            height: 77px;
        }

        .botao-avancar:hover {
            transform: translateY(2px);
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
          }

          

        


        